.container {
  width: 100%;
  padding: 0 15px;
  display: flex;
  margin-top: 62px;
}

.card {
  width: 25%;
  padding: 12px;
  margin-bottom: 30px;
  text-align: center;
}

.card > img {
  margin-bottom: 12px;
  border-radius: 100px;
}

.card img {
  width: 200px;
}

.card-text {
  font-size: 85%;
}

.show-pic {
  display: flex;
  justify-content: center;
}

.show-pic img {
  width: auto;
  overflow: hidden;
}

.footer {
  display: flex;
  justify-content: center;
}

.ant-modal-title {
  margin: auto 0;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  word-wrap: break-word;
  text-align: center;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader:before,
.loader:after {
  position: absolute;
  top: -0.1em;
  content: "";
  width: 5.2em;
  height: 10.2em;
  background: #56b4ab;
}
.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: 10% auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #fff;
}
.loader:before {
  border-radius: 10.2em 0 0 10.2em;
  left: -0.1em;

  transform-origin: 5.2em 5.1em;
  animation: load2 2s infinite 1.5s;
}
.loader:after {
  border-radius: 0 10.2em 10.2em 0;
  left: 5.1em;
  transform-origin: 0px 5.1em;
  animation: load2 2s infinite;
}
@keyframes load2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: 25%;
    padding: 0.75rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .card img {
    width: 120px;
  }

  .card > img {
    margin-bottom: 0.75rem;
    border-radius: 100px;
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .card img {
    width: 150px;
  }

  .card > img {
    margin-bottom: 0.75rem;
    border-radius: 100px;
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .card img {
    width: 200px;
  }
}
