.pic-manage {
  width: 1200px;
  margin: 0 auto;
}

.manage-img {
  cursor: pointer;
  transition: all 0.6s;
}

.manage-img:hover {
  transform: scale(1.6);
}

.pass {
  margin: 0px 5px;
}

.reject {
  margin: 0px 5px;
}

.delete {
  margin: 0px 5px;
}
